<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th colspan="5">
        <div class="d-flex justify-content-between">
          <div class="d-flex justify-content-center gap-2">
            <button class="btn btn-primary">
              <i class="bx bxs-file-import"></i> Import Excel
            </button>
            <button class="btn btn-primary">
              <i class="bx bxs-file-export"></i> Export Excel
            </button>
          </div>
          <div>
            <input type="text" class="form-control" placeholder="Search..." />
          </div>
        </div>
      </th>
    </tr>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr> -->
    <tr *ngFor="let employee of employees">
      <th scope="row">{{ employee.id }}</th>
      <td>{{ employee.name }}</td>
      <td>{{ employee.username }}</td>
      <td>{{ employee.email }}</td>
      <td>
        <a
          style="text-decoration: none; color: white"
          class="btn btn-info"
          (click)="navigateToProfile(employee.id)"
          >View</a
        >
      </td>
    </tr>
  </tbody>
</table>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white; letter-spacing: 2px">
    Getting ready...
  </p></ngx-spinner
>
